@media screen and (max-width: 768px){
.element-item img {
	width: 160px;
}
.address {
	margin-left: 90px;
}
.phone {
	margin-right: 152px;
}
}
@media screen and (max-width: 640px){
.element-item img {
	width: 120px;
}
.address {
	margin-left: 50px;
}
.phone {
	margin-right: 14px;
}

}
@media screen and (max-width: 520px){
.phone {
	margin-right: -6px;
}
}
@media screen and (max-width: 480px){
.element-item img {
	width: 100px;
}
.address {
	margin-left: 16px;
}
.phone {
	margin-right: -12px;
}
}